
<!-- Barra de ferramentas superior utilizando Angular Material -->
<!-- Utilizei a barra de ferramenta para mostrar o logo e o nome da aplicação -->
<mat-toolbar>
    <img src="assets/logo.png" alt="Logo" class="toolbar-icon">
    <span class="example-spacer"></span> <!-- Espaçador para alinhar o conteúdo à direita -->
    <span>{{ title }}</span>  <!-- Título dinâmico da aplicação -->
</mat-toolbar>

<!-- Cartão para introduzir sobre a aplicação -->
<mat-card appearance="outlined">
    <mat-card-content>
        <h2>Gerenciador de Tarefas</h2>
        <p>
            Esta aplicação tem o intuito de gerir tarefas simples do dia a dia. Sinta-se livre para utilizá-la da forma que bem entender!
        </p>
        
        <h3>Como Usar:</h3>
        <ul>
            <li><strong>Adicionar Tarefa:</strong> Pressione o botão "Adicionar Tarefa" e preencha suas informações. Após finalizar, envie a tarefa e ela estará visível para gestão.</li>
            <li><strong>Marcar como Concluída:</strong> Pressione duas vezes sobre a tarefa que deseja marcar como concluída.</li>
            <li><strong>Apagar Tarefa:</strong> Pressione o botão com ícone "X" em vermelho para apagar uma tarefa.</li>
        </ul>
    </mat-card-content>
</mat-card>

<!-- Container principal que inclui a aplicação, o cabeçalho e a lista de tarefas -->
<div class="container">
    <app-header></app-header>
    <app-tasks></app-tasks>
</div>

